<div fxLayout="row">
  <div class="logo">
    <img src="https://assets.hollywoodreporter.com/assets/1543955557/images/brand/thr-logo-white.svg?24f3ab0efd33df610bcf">
  </div>
  <div class="search">
    <mat-chip-list>
      <mat-chip color="primary" class="search-bar">
        <mat-form-field>
        <input matInput>
      </mat-form-field> <mat-icon>search</mat-icon></mat-chip>
    </mat-chip-list>

    <div class="login">
      <mat-chip-list>
        <a routerLink="/login">
        <mat-chip color="primary">
          Login
        </mat-chip>
      </a>
      </mat-chip-list>
    </div>
  </div>
</div>
