<div class="header">
  <div class="row" >
    <div class="logo">
      <a routerLink="/">
        <img class="img-logo" src="http://ladygaganow.co/uploads/logo.svg" alt="">
      </a>
    </div>
    <div class="tab">
      <button mat-flat-button routerLink="/"> Home </button>
      <button mat-flat-button routerLink="/featured"> Featured </button>
      <button mat-flat-button routerLink="/movies"> Movies </button>
    </div>
    <div class="search">
      <div class="search-content" fxLayout="row">
        <mat-form-field>
          <input name="search" class="search-bar" placeholder="search a movie" [(ngModel)]="search" matInput (keyup.enter)="go()" >
        </mat-form-field>
        <mat-icon (click)="go()">search</mat-icon>
        <div class="login">
          <button *ngIf="!isLogged()" mat-flat-button (click)="openLogin()"> Login </button>
          <button *ngIf="!isLogged()" mat-flat-button (click)="openRegister()"> Sign up </button>
          <span *ngIf="isLogged()"> {{getName()}} </span>
          <span *ngIf="isLogged()" (click)="login.logout()"> Logout </span>
        </div>
      </div>
    </div>
  </div>
</div>

