.container {
  color: white;
  position: sticky;
}

.head {
  color: white;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-left: 30px;
}

.search {
  position: absolute;
  right: 0;
  margin: 30px;
  display: flex;
}

.login {
  margin-left: 20px;
}
