
<div class="container-reviews">
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <h3> News </h3>
    <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div *ngFor="let i of count(4)">
        <img class="poster" [src]="movies[0].poster_url">
      </div>
    </div>
    <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div *ngFor="let i of count(4)">
        <img class="poster" [src]="movies[0].poster_url">
      </div>
    </div>
  </div>
  </div>
