.container-all {
  display: inline-block;
  background-color: lightsteelblue;
  margin: 100px;
  margin-top: 0;
  padding-bottom: 70px;
  position: absolute;
  right: 0;
  left: 0;
}

.row {
  margin-top: 10px;
  margin-bottom: 50px;
}

