.container-reviews {
  min-height: 1000px;
}

.review {
  margin: 20px;
}

.text-review {
  text-align: center;
}

button {
  margin-right: 10px;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: purple;
  width: 40px;
  height: 40px;
  display: table-cell;
  text-align: center;
  padding-top: 8px;
}

