
<div class="container-all">
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <h3> News </h3>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div>
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
      <div >
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
      <div >
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>

      <div >
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
    </div>
    <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div>
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
      <div>
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
      <div>
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
      <div >
        <img class="poster" src="http://people.bath.ac.uk/su9urb/img/article/f7b4b464.jpg">
      </div>
    </div>
  </div>
  </div>
