.container-reviews {
  min-height: 1000px;
}

.review {
  margin: 10px;
  max-width: 200px;
  width: 100%;
}

.text-review {
  text-align: center;
}

button {
  margin-right: 10px;
}


.review-container {
  margin: 20px;
}

.image-review {
  width: 200px;
  height: 300px;
}

