
<div class="container-reviews">
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <h3> User Reviews </h3>
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let _ of count(2); let i = index;">
      <div *ngFor="let _ of count(5);  let j = index;">
        <div class="review-container" fxLayout="column" fxFlexAlign="center center" *ngIf="movies">
          <mat-card class="review" *ngIf="movies[j + (i*5)]" routerLink="/movie/{{movies[j + (i*5)].id}}">
            <img mat-card-image [src]="movies[j+ (i*5)]['poster_url']"  alt="">
            <mat-card-content class="text-review">
              <p>
               {{movies[j+ (i*5)]['title']}}
              </p>
            </mat-card-content>
            <div class="score">
              78
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <button mat-flat-button routerLink="/movies"> More Reviews </button>
  </div>
  </div>
