<div fxLayout="column" fxLayoutAlign="space-around center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p>Name</p>
      <mat-form-field> <input matInput formControlName="name" >
      </mat-form-field>
    </div>
    <div class="user">
      <p>Surname</p>
      <mat-form-field> <input matInput formControlName="surname" >
      </mat-form-field>
    </div>
    <div class="user">
      <p>Country</p>
      <mat-form-field> <input matInput formControlName="country">
      </mat-form-field>
    </div>
    <div class="user">
      <p>Email</p>
      <mat-form-field> <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="user">
      <p>Password</p>
      <mat-form-field> <input matInput type="password"  formControlName="password">
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button type="submit" [disabled]="!form.valid"> Register </button>
    </div>
  </form>
</div>


