<div class="movies-page">
  <div class="main" fxLayout="row" fxLayoutAlign="space-around start" >
    <!--
    <div class="alph" fxLayout="column" fxLayoutAlign="space-around start" >
      <button mat-mini-fab *ngFor="let l of alph()">  {{l | uppercase}} </button>
    </div> -->
    <div class="movies" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="movies">
      <h3>Latest Movies </h3>
      <h2 *ngIf="movies.length == 0"> No movies </h2>
      <div fxLayout="row" *ngFor="let j of count(3); let y = index;">
        <div *ngFor="let i of count(6); let x = index;">
          <mat-card class="example-card" *ngIf="movies[x + (y *6)]"
                    routerLink="/movie/{{movies[x + (y *6)]['id']}}">
            <img mat-card-image [src]="movies[x + (y *6)]['poster_url']" alt="">
            <mat-card-content>
              <p>
                {{movies[x + (y *6)]['title']}}
              </p>
            </mat-card-content>
            <div class="score" *ngIf="movies[x + (y *6)]" [ngStyle]="getColor(movies[x + (y *6)]['id'])">
              {{getComments(movies[x + (y *6)]['id'])}}
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <button mat-stroked-button *ngIf="page != 0" routerLink="/movies/{{page - 1 }}"> Previous Movies </button>
    <button mat-stroked-button [disabled]="movies.length != 20"  routerLink="/movies/{{page + 1}}"> Next Movies </button>
  </div>
</div>
