<div class="login" fxLayout="column" fxLayoutAlign="center center" >
    
      
<mat-chip-list>
  <form class="lg">  
  <div class=utente fxLayout="row" fxLayoutAlign="space-between center"  >
    <div class= nomeutente>
    Utente
    </div>
    <div class=barrautente>
   <mat-chip color="primary">
    <mat-form-field class="utente">
     <input matInput placeholder="Nome" value="">
    </mat-form-field></mat-chip><br>
  </div>
  </div>
  <div class=password>
      Password <mat-chip color="primary">
      <mat-form-field class="password">
       <input type="password"  matInput placeholder="Password">
    </mat-form-field></mat-chip>
  </div>
  </form>
</mat-chip-list>

<div class=button>
    
    <button mat-button>
      <div class=font-button>
          Login
      </div>
    </button>
  
  </div>
</div>


