
<div class="login-dialog" fxLayout="column" fxLayoutAlign="space-around center">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <p> Email </p>
    <div class="user">
    <mat-form-field class="utente"> <input matInput name="email"[(ngModel)]="email" value="">
        </mat-form-field> {{email}}
    </div>
    <p> Password </p>
    <div class=password>
      <mat-form-field class="password">
      <input type="password"  matInput [(ngModel)]="password" name="pass">
    </mat-form-field> {{password}}
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button type="submit" >Login </button>
  </div>
</form>
</div>


