<div class="article-container">
  <div class="article-content" fxLayout="column">
    <div class="article-path">
      <p routerLink="/"> Home > Article</p>
    </div>

    <div class="article-image" fxLayout="row" fxLayoutAlign="center center" >
      <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
    </div>
    <div class="article-title">
      <h2> Lady Gaga vince tremilatordici oscar e 10 golden globes</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="article-author">
      <p> Pubblicato da ciao il ciao giorno 20 </p>
    </div>
    <div class="article-body">
      <p>
        During his Variety Actors on Actors conversation with Glenn Close, Sam Elliott dished on the first table read
        of &ldquo;A Star Is Born&rdquo; with Lady Gaga.
      </p>

      <p>
        &ldquo;I&rsquo;ve loved her from afar,&rdquo; Elliott said. &ldquo;She was just kind of this regular girl on
        some level, this Stefani,&rdquo; he said. &ldquo;She was stunning to work with.&rdquo;
      </p>

      <p>
        Elliott described a moment at the Greek Theater in Los Angeles after a long day and shooting in the hot sun.
        &ldquo;It was all her Little Monsters, her fanbase that followed her religiously. They were the extras in the crowd,&rdquo; he said, remembering how morale had begun to dwindle as the sun went down and it got chillier.
      </p>
        <iframe autoplay="false" frameborder="0" height="260" scrolling="auto"
                src="//content.jwplatform.com/players/VtguiX9D-JO6kgQAV.html?rel=0" width="320">&nbsp;</iframe>
    </div>
  </div>
  <h1> User Reviews</h1>
  <mat-divider class="line"></mat-divider>
  <app-comments></app-comments>
</div>
