<div class="article-container">
  <div class="article-content" fxLayout="column">
    <div class="article-path">
      <p routerLink="/"> Home > Article</p>
    </div>
    <div *ngIf="article">
      <div class="article-image" fxLayout="row" fxLayoutAlign="center center" >
        <img class="art-image" [src]="article.img_url" alt="">
      </div>
      <div class="article-title">
        <h2> {{article.title}}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="article-author" *ngIf="movie">
        <p> Pubblicato da ciao il ciao giorno 20 sul film {{movie.title}}</p>
      </div>
      <div class="article-body">
       {{article.body}}
      </div>
    </div>
    </div>

  <h1> User Reviews</h1>
  <mat-divider class="line"></mat-divider>
  <app-comments ></app-comments>
</div>
