<mat-progress-bar *ngIf="loading"></mat-progress-bar>
<div class="article-container" [ngStyle]="background()">
  <div fxLayout="column">
    <div class="article-path">
      <p (click)="back()">Back </p>
    </div>
      <div class="info-section" *ngIf="movie">
        <span class="point"> {{getPoints()}} </span>
        <div class="title-row">
          <h3> {{movie.title | uppercase}}</h3>
          <button *ngIf="isLogged()" class="rate-button" mat-flat-button (click)="rate()"> Rate this movie </button>
        </div>
        <mat-divider></mat-divider>
        <div class="info-box" fxLayout="row">
          <div class="poster-box">
            <img class="poster" [src]="movie.poster_url" alt="">
          </div>
          <table class="box">
            <tr> <th> Name </th> <th> Year </th> <th> Director </th><th> Durata </th> <th> Country</th><th> Genres </th><th> Distributed by</th></tr>
            <tr>
              <td> {{movie.title}}</td> <td> {{movie.date | slice:0:4}}</td> <td> {{movie.director}}</td> <td> {{movie.length}} m</td>
              <td> {{movie.country}}</td> <td> {{movie.genre}}</td> <td> {{movie.distributed}}</td>
            </tr>
            <tr><th> Cast </th></tr>
            <tr><td colspan="6" [innerHTML]="movie.cast"></td></tr>
            <tr><th>Plot</th></tr>
            <tr><td colspan="6">{{movie.plot}}</td></tr>
          </table>
        </div>
      </div>
    <div *ngIf="article" class="our-review-container">
      <div class="article-title">
        <h3> Our review </h3>
      </div>
      <mat-divider></mat-divider>
      <div class="article-author" *ngIf="movie">
        <p> Pubblicato da ciao il ciao giorno 20 sul film {{movie.title}}</p>
      </div>
      <div class="article-image" fxLayout="row" fxLayoutAlign="center center" >
        <img class="art-image" [src]="article.img_url" alt="">
      </div>
      <div class="article-body" [innerHTML]="getBody()">
      </div>
    </div>
    </div>
<div class="user-reviews">
  <h3> User Reviews</h3>
  <mat-divider class="line"></mat-divider>
  <app-comments [id]="id"></app-comments>
</div>

</div>
