.article-container {
  height: 100%;
  min-height: 1000px;
  position: relative;
}

.art-image {
  max-width: 1000px;
  max-height: 600px;
  border-style: solid;
}

.article-body {
  max-width: 800px;
}

.article-author{
  margin-bottom: 20px;
  margin-left: 30px;
}


.article-body {
  margin-left: 30px;
  margin-top: 30px;
}

.article-path {
  margin-left: 30px;
  margin-top: 30px;
}

.comments-container {
  min-height: 700px;
}

h1, h2, h3 {
  margin-left: 30px;
}

.box {
  margin-left: 30px;
  white-space: nowrap;
  width: 60%;
  border-collapse: separate;
  border-spacing: 5px 10px;
}


.info-section {
  margin-left: 30px;
}

.poster {
  width: 200px;
  height: 300px;
}

.poster-box {
  margin-left: 30px;
  border-style: solid;
}

.point {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
  font-size: 50px;
}

.title-row {
  position: relative;
  height: 100%;
}

.rate-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
}


