<div class="container-news" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="top-content" fxLayout="column">
      <div class="news">
        <div class="articles" fxLayout="row" fxLayoutAlign="center center">
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
        </div>
        <div class="articles" fxLayout="row" fxLayoutAlign="center center">
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
          <div class="article" fxLayout="column">
            <div class="art-text">
              <img class="art-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
            </div>
            <div class="art-text">
              QUESTO E' IL TITOLO DEL MIO ARTICOLO
            </div>
            <div class="art-second-text">
              ASHDLSHDLKAJHDLAKJHDLASJHDALSJHDALKJHSKLHLKJ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



