

.art-second-text {
  height: 100%;
  display: table-cell;
  text-align: center;
  word-break: break-word;
  padding: 7px;
}

.art-text {
  display: table-cell;
  text-align: center;
  padding: 5px;
  background-color: lightgray;
  color: black;
}

.articles-row {
  margin: 15px;
}

.article-image {
  height: 150px;
  width: 250px;
}

.article {
  margin: 20px;
  width: 100%;
  height: auto;
  max-height: 300px;
}

button {
  float: right;
  margin-bottom: 5px;
}


