<div class="container-news" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div class="top-content" fxLayout="column">
      <h2>Our Reviews</h2>
      <div class="news" *ngIf="articles">
        <div class="articles-row" fxLayout="row" fxLayoutAlign="center start" *ngFor="let _ of count(2);
        let j = index">
          <div fxLayout="column" *ngFor="let _ of count(4); let i = index;" >
            <div *ngIf="articles[i + (j*4)]">
              <mat-card class="article" routerLink="/movie/{{articles[i + (j*4)].movie_id}}" *ngIf="articles[i]">
                <img mat-card-image class="article-image" [src]="articles[i + (j*4)].img_url" alt="">
                <mat-card-content>
                  <p class="subtext">
                    {{articles[i + (j*4)].subtext }}
                  </p>
                </mat-card-content>
                <div class="score" [ngStyle]="getColor(articles[i + (j*4)].movie_id)">
                  {{getPoints(articles[i + (j*4)].movie_id)}}
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="more">
        <button mat-stroked-button routerLink="/featured">More Articles</button>
      </div>
    </div>
  </div>



