<div class="container-news" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div class="top-content" fxLayout="column">
      <h2>Our Reviews</h2>
      <div class="news" *ngIf="articles">
        <div class="articles-row" fxLayout="row" fxLayoutAlign="center center" *ngFor="let _ of count(2)">
          <div fxLayout="column" *ngFor="let _ of count(4); let i = index;" >
           <mat-card class="article" routerLink="/movie/{{articles[i].id}}" *ngIf="articles[i]">
            <img mat-card-image class="article-image" [src]="articles[i].img_url" alt="">
            <mat-card-content>
              <p>
                {{articles[i].subtext | uppercase}}
              </p>
            </mat-card-content>
             <div class="score">
               92
             </div>
          </mat-card>
          </div>
        </div>
      </div>

      <div class="more">
        <button mat-stroked-button routerLink="/featured">More Articles</button>
      </div>
    </div>
  </div>



