<div class="movie-header-container" fxLayout="row" fxLayoutAlign="center center" >
    <div class="header-rectangle">
        <img class="header-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
      <div class="header-text">
        QUESTO E' IL TITOLO DEL MIO ARTICOLO
      </div>
    </div>
  <div class="header-rectangle">
    <img class="header-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
    <div class="header-text">
      QUESTO E' IL TITOLO DEL MIO ARTICOLO
    </div>
  </div>
  <div class="header-rectangle">
    <img class="header-image" src="https://pmcvariety.files.wordpress.com/2018/09/a-star-is-born-3.jpg" alt="">
    <div class="header-text">
      QUESTO E' IL TITOLO DEL MIO ARTICOLO
    </div>
  </div>
</div>
