<div class="featured-page">
<div class="articles" fxLayout="column" fxLayoutAlign="space-around center" >
  <h2> Our Reviews </h2>
  <div fxLayout="row" *ngFor="let _ of count(3); let j = index;">
    <div *ngFor="let _ of count(3); let i = index;">
      <mat-card class="featured-article" *ngIf="articles[i + (j*3)]" routerLink="/movie/{{articles[i + (j*3)]?.movie_id}}">
        <mat-card-header>
          <mat-card-title> {{articles[i + (j*3)].title}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="articles[i + (j*3)].img_url" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p> {{articles[i + (j*3)].subtext}} </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

  <div class="more">
    <button mat-stroked-button> More Articles </button>
  </div>
</div>
