/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


div.mat-chip-list-wrapper {
  width: 100% !important;
  margin-left: 30px;
  margin-right: 30px;
}


div.mat-form-field-infix {
  background-color: white;
  border-radius: 15px;
  color: black;
  text-align: center;
}

.mat-dialog-container {
  display: table !important;
}


.mat-card {
  max-width: 250px;
  background-color: gainsboro;
}

.mat-card-subtitle {
  font-size: 13px;
}

.mat-icon {
  margin: 10px;
}

.mat-card-actions {
  float: right;
}

.mat-divider {
  width: 100%;
  border-top-width: 2px !important;
  border-color: black !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.more {
  float: right;
  margin-right: 20px;
}

.mat-card {
  background-color: black;
  color: white;
}

.score {
  margin: 5px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: purple;
  width: 40px;
  height: 40px;
  display: table-cell;
  text-align: center;
  padding-top: 8px;
}

img {
  max-width: 1000px;
  height: auto;
}
