/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.rectangles {
  width: 400px;
  height: 250px;
  margin: 4px;
}

div.mat-chip-list-wrapper {
  width: 100% !important;
  margin-left: 30px;
  margin-right: 30px;
}

.article {
  height: 270px;
  background-color: black;
  color: white;
  width: 300px;
  margin: 2px 2px 10px;
}

div.mat-form-field-infix {
  background-color: white;
  border-radius: 15px;
  color: black;
  text-align: center;
}

.poster {
  background-color: black;
  width:250px;
  height: 375px;
  margin: 5px;
}

.header-image {
  width: 400px;
  height: 250px;
}

.mat-dialog-container {
  display: table !important;
}

.line {
  border-top-width: 2px !important;
  border-color: black !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}



