.categories-list {
  background-color: green;
  width: 350px;
  height: 700px;
}

.list {
  width: 100%;
  height: 100%;
}

.categories-container {
  width: 100%;
}

.category {
  width: 100%;
  display: block;
  text-align: center;
}

div.mat-chip-list-wrapper {
  width: 100% !important;
  margin: 30px;
}

