<h3>Categories</h3>
<mat-divider></mat-divider>
<div class="categories-list">
  <mat-chip-list class="list" fxLayout="row" fxLayoutAlign="center center" >
    <div class="categories-container" fxLayout="column" fxLayoutAlign="space-around center" >
      <mat-chip class="category" color="primary" selected>Horror</mat-chip>
      <mat-chip class="category" color="primary" selected>Adventure</mat-chip>
      <mat-chip class="category"  color="primary" selected>Netflix</mat-chip>
    </div>
  </mat-chip-list>
</div>
