<div class="categories-list">
  <mat-chip-list fxLayout="column" fxLayoutAlign="center center">
    <div class="categories-container" fxLayout="row" fxLayoutAlign="space-evenly center" >
      <mat-chip class="category" selected>Horror</mat-chip>
      <mat-chip class="category" selected>Adventure</mat-chip>
      <mat-chip class="category"   selected>Netflix</mat-chip>

      <mat-chip class="category" selected>Horror</mat-chip>
      <mat-chip class="category" selected>Adventure</mat-chip>
      <mat-chip class="category"  selected>Netflix</mat-chip>

      <mat-chip class="category" selected>Horror</mat-chip>
      <mat-chip class="category" selected>Adventure</mat-chip>
      <mat-chip class="category" selected>Netflix</mat-chip>
    </div>
  </mat-chip-list>
</div>
